{% extends 'base.html' %}

{% block title %}Surveys{% endblock title %}

{% block content %}
<!-- templates/surveys/survey_list.html -->

<div class="container mt-5">
  <h1>Surveys</h1>

  <div class="row mt-3">
    <div class="col">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="showCompletedSwitch">
        <label class="form-check-label" for="showCompletedSwitch">Show Completed Surveys</label>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Survey ID</th>
              <th>Survey Heading</th>
              <th>Created By</th>
              <th>Created On</th>
              <th>Last Date to Submit</th>
              <th>Number of Respondents</th>
            </tr>
          </thead>
          <tbody>
            {% for survey in surveys %}
              {% if survey.is_special and not survey.is_completed %}
                <tr class="special-survey not-completed-survey">
              {% else %}
                {% if survey.is_completed %}
                  <tr class="completed-survey hidden">
                {% else %}
                  <tr class="not-completed-survey">
                {% endif %}
              {% endif %}
                <td>{{ survey.pk }}</td>
                <td><a href="{% url 'survey_detail' survey.pk %}">{{ survey.heading }}</a></td>
                <td><a href="{% url 'profile' survey.creator.username %}" target="_blank">{{ survey.creator.username }}</a></td>
                <td>{{ survey.created_on }}</td>
                <td>{{ survey.expire_on }}</td>
                <td>{{ survey.total_respondents }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Button to trigger the new survey creation modal -->
  <button type="button" class="btn btn-primary mt-3 create-survey-btn" data-bs-toggle="modal" data-bs-target="#newSurveyModal">
    Create New Survey
  </button>
</div>

<!-- New Survey Creation Modal -->
<div class="modal fade" id="newSurveyModal" tabindex="-1" role="dialog" aria-labelledby="newSurveyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="newSurveyModalLabel">Create New Survey</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Your form to create a new survey here -->
        <form method="post">
          {% csrf_token %}
          <!-- Your form fields go here -->
          <div class="form-group">
            <label for="survey-heading">Survey Heading</label>
            <input type="text" class="form-control" id="survey-heading" name="heading" required>
          </div>
          <div class="form-group">
            <label for="survey-description">Survey Description</label>
            <textarea class="form-control" id="survey-description" name="description" rows="3" required></textarea>
          </div>
          <div class="form-group">
            <label for="survey-link">Google Form Link</label>
            <input type="url" class="form-control" id="survey-link" name="google_form_link" required>
          </div>
          <div class="form-group">
            <label for="expire-on">Expire On</label>
            <input type="datetime-local" class="form-control" id="expire-on" name="expire_on" required>
          </div>
          <button type="submit" class="mt-2 btn btn-primary" >Create Survey</button>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  /* Position the "Create New Survey" button */
  .create-survey-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
  .hidden {
    display: none;
  }

  .special-survey {
    background-color: lightblue;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const showCompletedSwitch = document.getElementById('showCompletedSwitch');
    const completedRows = document.querySelectorAll('.completed-survey');
    const notCompletedRows = document.querySelectorAll('.not-completed-survey');

    // Initially hide completed survey rows and show not-completed survey rows
    completedRows.forEach(row => row.classList.add('hidden'));
    notCompletedRows.forEach(row => row.classList.remove('hidden'));

    showCompletedSwitch.addEventListener('change', function () {
      completedRows.forEach(row => row.classList.toggle('hidden', !this.checked));
      notCompletedRows.forEach(row => row.classList.toggle('hidden', this.checked));
    });
  });
</script>
{% endblock content %}
