{% extends "base.html" %}

{% block title %}
Notifications
{% endblock title %}

{% block content %}
<div class="container">
  <h1>Notifications</h1>
  <div class="notification-list">
    <div class="notification">
      <h3>Notification 1</h3>
      <p>This is the content of the first notification.</p>
    </div>
    <div class="notification">
      <h3>Notification 2</h3>
      <p>This is the content of the second notification.</p>
    </div>
    <div class="notification">
      <h3>Notification 3</h3>
      <p>This is the content of the third notification.</p>
    </div>
  </div>
</div>
{% endblock content %}

