{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}
{% block content %}
<section style="background-color: #f9f9f9;">
    <!-- Profile Card Section -->
    <div class="container py-3 ">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <div class="user-card">
                            <a href="#newModal" data-bs-toggle="modal">
                              <img src="{{ user_card.profile_photo.url }}" alt="{{ user.username }}" class="rounded-circle img-fluid" style="width: 150px;">
                            </a>
                          </div>
                          
                          <!-- Modal for the image -->
                          <div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="profileModalLabel"
                          aria-hidden="true"role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Full Size Picture</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <img src="{{ user_card.profile_photo.url }}" alt="{{ user.username }}" class="img-fluid">
                                </div>
                              </div>
                            </div>
                          </div>
                          
                        <h5 class="my-3">{{ user.get_full_name }}</h5>
                        {% if is_own_profile %}
                        <div class="d-flex justify-content-center mb-2">
                            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- Other Social Links, if any -->
            </div>

            <!-- Public Info Card Section -->
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Public Info</h4>
                    </div>
                    <div class="card-body">
                        <!-- Other Public Info Details -->
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Full Name</strong>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.get_full_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Username</strong>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.username }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>JNV Region</strong>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user_card.get_region_name_display }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>JNV Name</strong>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user_card.get_jnv_name_display }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Role</strong>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user_card.get_role_display }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Batch Year</strong>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user_card.year }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Home Town</strong>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user_card.HomeTown }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>IS Verified</strong>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user_card.verified }}</p>
                            </div>
                        </div>
                        <hr>
                        
                        <!-- Add other public info details as needed -->
                    </div>
                </div>
            </div>

            <!-- Private Info Card Section -->
            {% if is_own_profile %}
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Private Info</h4>
                    </div>
                    <div class="card-body">
                        <!-- Other Private Info Details -->
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Current Location City</strong>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user_private_info.current_location_city }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Current Location State</strong>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user_private_info.current_location_state }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Current Location Zip</strong>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user_private_info.current_location_zip }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Current Profession</strong>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user_private_info.profession }}</p>
                            </div>
                        </div>
                        <!-- Add other private info details as needed -->
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
