{% extends 'base.html' %}

{% block title %}
Request {{ request_id }}
{% endblock %}

{% block content %}
<style>
  body {
    background-color: #c0c0c0;
  }
</style>
<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 15px;">
          <div class="card-header d-flex justify-content-between align-items-center p-3" style="border-radius: 15px;">
            <h5 class="mb-0">Request ID: {{ help.help_id }}</h5>
            {% if request.user.username == help.created_by.username%}
            <button type="button" class="btn btn-danger btn-sm" data-mdb-ripple-color="dark">Delete</button>
            {% endif %}
          </div>
          <div class="card-body">
            <div class="post-details">
              <div class="post-upvotes">{{help.request_type}}</div>
              <div class="post-content">
                <h5 class="card-title mb-4">Request Details</h5>
                <h6 class="card-subtitle mb-3 text-muted">Created by <strong>@{{ help.created_by.username }}</strong>
                  on {{help.created_at|date:"d M, Y" }}</h6>
                <p class="card-text">{{ help.body }}</p>
                <div class="post-meta">
                  <span><i class="fas fa-map-marker-alt"></i> {{ help.location }}</span>
                  <span><i class="fas fa-user-tie"></i> {{ help.profession }}</span>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <h5 class="card-title mb-4">Chat</h5>
            <div class="message-container">
              <!-- Insert the chat messages HTML code here -->
              {% for comment in comments %}
              <div class="card comment-card {% if comment.is_special %}special-comment{% endif %}">
                <div class="card-body">
                  <div class="comment-details">
                    <div class="comment-user">
                      {{ comment.created_by.first_name }} {{ comment.created_by.last_name }} |
                      <a class="text-decoration-none" href="{% url 'profile' comment.created_by.username %}"
                        style="color:{% if comment.created_by.username == help.created_by.username %}red{% else %}orange{% endif %}; font-weight:lighter;">
                        @{{ comment.created_by.username }}
                      </a>
                    </div>
                    <div class="comment-time">{{ comment.created_at|date:"d M, Y" }}</div>
                  </div>
                  {% if comment.is_special %}
                  <div class="special-design">
                    <button type="button" class="btn btn-primary special-button" data-bs-toggle="modal"
                    data-bs-target="#contactModal{{ comment.id }}">Contact Details Shared!</button>
                    <p class="special-info">
                      <strong style="color:blue;">@{{comment.created_by.username}}</strong> shared their contact details with the User who created the
                      request only <strong style="color:blue;">(@{{help.created_by.username}})</strong>.
                    </p>
                    <p class="special-note">Information is safe and will be deleted from the server once the request is deleted.</p>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="contactModal{{ comment.id }}" tabindex="-1"
                    aria-labelledby="contactModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="contactModalLabel">Contact Details Shared by {{comment.created_by.username }}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          {% if comment.created_by.username == help.created_by.username %}
                          <p>User: {{ comment.created_by.first_name }} {{ comment.created_by.last_name }}</p>
                          {% if comment.mobile_number %}
                          <p>Shared contact details: {{ comment.mobile_number }}</p>
                          {% endif %}
                          {% if comment.email %}
                          <p>Shared email: {{ comment.email }}</p>
                          {% endif %}
                          <p>Private message: {{ comment.text }}</p>
                          {% else %}
                          <p> These details will be visible only to the user who created the request.</p>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% else %}
                  <p class="comment-text">{{ comment.text }}</p>
                  {% endif %}

                </div>
              </div>
              {% endfor %}

            </div>
          </div>
          <form id="myForm" method="POST">
            {% csrf_token %}
            <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
            <img src="{{ request.user.usercard.profile_photo.url }}" alt="{{ request.user.username }}" class="avatar">
              <textarea class="m-2 form-control form-control-lg" id="exampleFormControlTextarea1" rows="3"
                placeholder="Type message" name="text"></textarea>
              <a class="ms-1 text-muted" href="#contactModal" data-bs-backdrop="static" data-bs-toggle="modal"><i
                  class='fas fa-address-book'></i></a>

              <!-- Modal -->
              <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="contactModalLabel">Share Your Contact Details Privately</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Note: Your contact details will be visible to the user who created the request only.</p>
                      <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="mobileNumber" placeholder="Mobile Number"
                          name="mobile_number">
                        <label for="mobileNumber">Mobile Number</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                        <label for="email">Email</label>
                      </div>
                      <div class="form-floating">
                        <textarea class="form-control" id="privateMessage" placeholder="Private Message"
                          name="private_text"></textarea>
                        <label for="privateMessage">Private Message</label>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" id="privateSubmitForm">Send</button>
                    </div>
                  </div>
                </div>
              </div>

              <a class="ms-3 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
              <button type="submit" class="btn btn-link" id="submitForm"><i class="fas fa-paper-plane"></i></button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .card {
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  .card-header {
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
  }

  .card-header .btn-danger {
    padding: 0.375rem 0.75rem;
  }

  .card-body {
    padding: 20px;
  }

  .post-details {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .post-upvotes {
    background-color: #f6f7f8;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    min-width: 50px;
    text-align: center;
    border-radius: 3px;
    margin-right: 15px;
  }

  .post-content {
    flex: 1;
  }

  .post-content .card-title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .post-subtitle {
    margin-bottom: 10px;
  }

  .post-meta span {
    margin-right: 15px;
  }

  .message-container {
    overflow-y: auto;
    max-height: 400px;
  }

  .card.comment-card {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .card.comment-card .card-body {
    padding: 15px;
  }

  .comment-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .comment-user {
    font-weight: bold;
  }

  .comment-time {
    color: #a2aab7;
    font-size: 12px;
  }

  .comment-text {
    margin-bottom: 0;
  }

  .comment-actions {
    display: flex;
    justify-content: flex-start;
  }

  .comment-reply {
    margin-right: 10px;
    padding: 6px 12px;
  }

  .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  /* Styles for the special-design container */
.special-design {
  background-color: #a4dfe0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
}

.special-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.special-info {
  font-size: 18px;
  margin-top: 10px;
}

.special-note {
  font-size: 14px;
  color: #777;
}
</style>
<script>
  function submitForm() {
    document.getElementById('myForm').submit();
  }
  document.getElementById('myForm').addEventListener('submit', function (event) {
    const textareaAValue = document.getElementById('exampleFormControlTextarea1').value.trim();
    const textareaBValue = document.getElementById('privateMessage').value.trim();

    if (textareaAValue === '' && textareaBValue === '') {
      event.preventDefault();
      alert('Please write something before sending the message');
    }
  });
</script>
{% endblock content %}