{% extends "base.html" %}

{% block title %}New Page{% endblock %}

{% block content %}
<style>
  body {
    background-color: #c0c0c0;
  }

  .form-container {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .search-form {
    margin-bottom: 10px;
  }

  .search-form .form-control {
    border-radius: 5px;
  }

  .profile-card {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Added this line */
  }

  .profile-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    background-color: #e9e9e9;
  }

  .profile-img i {
    font-size: 60px;
    line-height: 100px;
    text-align: center;
    color: #888888;
  }

  .profile-name {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .profile-info {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
  }
</style>

<section class="vh-100">
  <div class="container py-3">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-xl-10">
        
        <div class="form-container">
          <div class="search-form mb-1">
            <form action="" request="GET">
              {% comment %} {% csrf_token %} {% endcomment %}
              <div class="row">
                <div class="col-md-2">
                  {% comment %} <label for="fname">First Name</label> {% endcomment %}
                  <input type="text" class="form-control mb-3" id="name" name="fname" placeholder="First Name">
                </div>
                <div class="col-md-2">
                  {% comment %} <label for="lname">Last Name</label> {% endcomment %}
                  <input type="text" class="form-control mb-3" id="name" name="lname" placeholder="Last Name">
                </div>
                <div class="col-md-2">
                  {% comment %} <label for="username">Username</label> {% endcomment %}
                  <input type="text" class="form-control mb-3" id="username" name="username" placeholder="Username">
                </div>
                <div class="col-md-2">
                  {% comment %} <label for="jnv">JNV</label> {% endcomment %}
                  <input type="text" class="form-control mb-3" id="jnv" name="jnv" placeholder="JNV">
                </div>
                <div class="col-md-2">
                  {% comment %} <label for="role">Role</label> {% endcomment %}
                  <select type="text" class="form-control mb-3" id="role" name="role">
                    <option value = ''>None</option>
                    <option value = 'S'>Student</option>
                    <option value = 'A'>Alumini</option>
                    <option value = 'T'>Teacher</option>
                    <option value = 'W'>Workers</option>
                    <option value = 'O'>Office Members</option>
                  </select>
                </div>
                <div class="col-md-2">
                  {% comment %} <label for="passing-year">Batch</label> {% endcomment %}
                  <input type="text" class="form-control mb-3" id="passing-year" name="year" placeholder="Batch Year">
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-primary">Filter</button>
                </div>
              </div>
            </form>
            <p>Note:- Here for students and Alumini Batch Year means passing year and for Others it will joinig year at Navodaya</p>
          </div>

          <div class="profile-cards">
            {% for user_card in context %}
            <div class="profile-card">
              <div class="profile-img">
                <i class="fas fa-user"></i>
              </div>
              <h4 class="profile-name">{{ user_card.user.get_fname }} {{ user_card.user.get_full_name }}
                {% if user_card.verified %}
                  <i class="fas fa-check-circle" style="color: green;"></i>
                {% else %}
                  <i class="fas fa-times-circle" style="color: red;"></i>
                {% endif %}
              </h4>
              <p class="profile-info">Username: {{ user_card.user.username }}</p>
              <p class="profile-info">JNV: {{ user_card.jnv_name }}</p>
              <p class="profile-info">Batch Year: {{ user_card.year }}</p>
              <p class="profile-info">Verified: {{ user_card.verified }}</p>
            </div>
            
            {% endfor %}
            <div class="pagination">
              <span class="step-links">
                {% if page_obj.has_previous %}
                  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
            
                <span class="current-page">{{ page_obj.number }}</span>
            
                {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
              </span>
               {% comment %} Showing links if search contains more than one result {% endcomment %}
            </div><div class="pagination">
              <span class="step-links">
                {% if page_obj.has_previous %}
                  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
            
                <span class="current-page">{{ page_obj.number }}</span>
            
                {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
              </span>
            </div>
          </div>

          <!-- Add more profile cards here -->
          
        </div>
        
      </div>
    </div>
  </div>
</section>
{% endblock %}
