{% extends 'float_base.html' %}
{% block title %}
Welcome to Family
{% endblock%}

{% block float_content %}

{% for error in form.errors %}
<div class="alert alert-danger" role="alert">
  {{error}}
</div>
{% endfor %}
<div class="card-body py-5 px-md-5">
  
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
        <h2 class="fw-bold mb-5">Once A Navodayan, Always A Navodayan</h2>
        <form class="needs-validation" novalidate action="" method=POST>
          {% csrf_token %}

          <div class="row">

            <div class="col-md-4 mb-3">
              <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
              <input type="text" class="form-control {% if form.first_name.errors %}is-invalid{% endif %}" id="{{ form.first_name.id_for_label }}" placeholder="{{ form.first_name.label }}" name="{{ form.first_name.html_name }}" required>
              {% if form.first_name.errors %}
                  <div class="invalid-feedback">
                      {% for error in form.first_name.errors %}
                          {{ error }}
                      {% endfor %}
                  </div>
              {% else %}
                  <div class="valid-feedback">
                      Looks good!
                  </div>
              {% endif %}
          </div>          
            <div class="col-md-4 mb-3">
              <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
              <input type="text" class="form-control {% if form.last_name.errors %}is-invalid{% endif %}" id="{{ form.last_name.id_for_label }}" placeholder="{{ form.last_name.label }}" name="{{ form.last_name.html_name }}" required>
              {% if form.last_name.errors %}
                  <div class="invalid-feedback">
                      {% for error in form.last_name.errors %}
                          {{ error }}
                      {% endfor %}
                  </div>
              {% else %}
                  <div class="valid-feedback">
                      Looks good!
                  </div>
              {% endif %}
          </div>          
            <div class="col-md-4 mb-3">
              <label for="{{form.username.id_for_label}}">{{form.username.label}}</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend">@</span>
                </div>
                <input type="text" class="form-control" {% if form.username.errors %}is-invalid {% endif %} id="{{form.username.id_for_label}}" name="{{ form.username.html_name }}" placeholder="{{form.username.label}}" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                      {{ error }}
                  {% endfor %}
              </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
                <label for="{{ form.user_email.id_for_label }}">{{ form.user_email.label }}</label>
                <input type="email" class="form-control {% if form.user_email.errors %}is-invalid{% endif %}" id="{{ form.user_email.id_for_label }}" placeholder="{{ form.user_email.label }}" name="{{ form.user_email.html_name }}" required>
                  <div class="invalid-feedback">
                    {% if form.user_email.errors %}
                        {% for error in form.user_email.errors %}
                            {{ error }}
                        {% endfor %}
                      {% else %}
                      Invalid Email!
                      {% endif %}
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                <input type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" id="{{ form.password.id_for_label }}" placeholder="{{ form.password.label }}" name="{{ form.password.html_name }}" required>
                {% if form.password.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4 mb-3">
                <label for="{{ form.confirm_password.id_for_label }}">Confirm Password</label>
                <input type="password" class="form-control {% if form.confirm_password.errors %}is-invalid{% endif %}" id="{{ form.confirm_password.id_for_label }}" placeholder="Confirm Password" name="{{ form.confirm_password.html_name }}" required>
                {% if form.confirm_password.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                {% endif %}
            </div>
        </div>
        
          <div class="row">
            <div class="col-md-4 mb-3">
              <label for="{{ form.region_name.id_for_label }}">{{ form.region_name.label }}</label>
              <select class="form-control {% if form.region_name.errors %}is-invalid{% endif %}" id="{{ form.region_name.id_for_label }}" name="{{ form.region_name.html_name }}" required>
                  <option value="" selected disabled hidden>Select a region</option>
                  {% for choice in form.region_name.field.choices %}
                      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                  {% endfor %}
              </select>
              {% if form.region_name.errors %}
                  <div class="invalid-feedback">
                      {% for error in form.region_name.errors %}
                          {{ error }}
                      {% endfor %}
                  </div>
              {% else %}
                  <div class="valid-feedback">
                      Looks good!
                  </div>
              {% endif %}
          </div>
          <div class="col-md-4 mb-3">
            <label for="{{ form.jnv_name.id_for_label }}">JNV</label>
            <select class="form-control {% if form.jnv_name.errors %}is-invalid{% endif %}" id="{{ form.jnv_name.id_for_label }}" name="{{ form.jnv_name.html_name }}" required>
                <option value="" selected disabled hidden>Select Your Navodaya</option>
                {% comment %} {% for choice in form.jnv_name.field.choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %} {% endcomment %}
            </select>
            {% if form.jnv_name.errors %}
                <div class="invalid-feedback">
                    {% for error in form.jnv_name.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                <div class="valid-feedback">
                    Looks good!
                </div>
            {% endif %}
        </div>
        <div class="col-md-4 mb-3">
          <label for="{{ form.role.id_for_label }}">{{ form.role.label }}</label>
          <select class="form-control {% if form.role.errors %}is-invalid{% endif %}" id="{{ form.role.id_for_label }}" name="{{ form.role.html_name }}" required>
              <option value="" selected disabled hidden>Select a Role</option>
              {% for choice in form.role.field.choices %}
                  <option value="{{ choice.0 }}">{{ choice.1 }}</option>
              {% endfor %}
          </select>
          {% if form.role.errors %}
              <div class="invalid-feedback">
                  {% for error in form.role.errors %}
                      {{ error }}
                  {% endfor %}
              </div>
          {% else %}
              <div class="valid-feedback">
                  Looks good!
              </div>
          {% endif %}
      </div>
          </div>
          <div class = "row">
            <br>
          <h6>Alumini and Students have to fill Passing Year and Others have to fill Joining Year</h6>
          <div class="col-md-4 mb-3 toolip" title="Passing Year for Students and Alumini Roles and Joining Year for other Roles.">
            <label for="{{ form.year.id_for_label }}">Year</label>
            <input type="number" class="form-control {% if form.year.errors %}is-invalid{% endif %}" id="{{ form.year.id_for_label }}" placeholder="Year" name="{{ form.year.html_name }}" required>
            {% if form.year.errors %}
                <div class="invalid-feedback">
                    {% for error in form.year.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                <div class="valid-feedback">
                    Looks good!
                </div>
            {% endif %}
        </div>
        <div class = "row">
            <br>
          <h6 class="text-muted">Above Information will be displayed on profile page and will be visible to all users.</h6>
        </div>

            <br><br>
          </div>
          <div class = "row">
            <br>
          <h6>Current Working Location (Optional)</h6>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="{{ form.current_location_city.id_for_label }}">City</label>
              <input type="text" class="form-control {% if form.current_location_city.errors %}is-invalid{% endif %}" id="{{ form.current_location_city.id_for_label }}" placeholder="Enter Current City" name="{{ form.current_location_city.html_name }}">
              {% if form.current_location_city.errors %}
                  <div class="invalid-feedback">
                      {% for error in form.current_location_city.errors %}
                          {{ error }}
                      {% endfor %}
                  </div>
              {% else %}
                  <div class="valid-feedback">
                      Looks good!
                  </div>
              {% endif %}
          </div>  
            <div class="col-md-3 mb-3">
              <label for="{{ form.current_location_state.id_for_label }}">State</label>
              <select class="form-control {% if form.current_location_state.errors %}is-invalid{% endif %}" id="{{ form.current_location_state.id_for_label }}" name="{{ form.current_location_state.html_name }}">
                  <option value="" selected disabled hidden>Select State</option>
                  {% for choice in form.current_location_state.field.choices %}
                      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                  {% endfor %}
              </select>
              {% if form.current_location_state.errors %}
                  <div class="invalid-feedback">
                      {% for error in form.current_location_state.errors %}
                          {{ error }}
                      {% endfor %}
                  </div>
              {% else %}
                  <div class="valid-feedback">
                      Looks good!
                  </div>
              {% endif %}
          </div>
          <div class="col-md-3 mb-3">
            <label for="{{ form.current_location_zip.id_for_label }}">Zip</label>
            <input type="number" class="form-control {% if form.current_location_zip.errors %}is-invalid{% endif %}" id="{{ form.current_location_zip.id_for_label }}" placeholder="Zip" name="{{ form.current_location_zip.html_name }}">
            {% if form.current_location_zip.errors %}
                <div class="invalid-feedback">
                    {% for error in form.current_location_zip.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                <div class="valid-feedback">
                    Looks good!
                </div>
            {% endif %}
        </div>  
          </div>
          <div class ="row">
            <div class="col-md-6 mb-3">
              <label for="{{ form.profession.id_for_label }}">Profession</label>
              <input type="text" class="form-control {% if form.profession.errors %}is-invalid{% endif %}" id="{{ form.profession.id_for_label }}" placeholder="Profession Name" name="{{ form.profession.html_name }}">
              {% if form.profession.errors %}
                  <div class="invalid-feedback">
                      {% for error in form.profession.errors %}
                          {{ error }}
                      {% endfor %}
                  </div>
              {% else %}
                  <div class="valid-feedback">
                      Looks good!
                  </div>
              {% endif %}
          </div>  
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck">
                Agree to <a href="{% url 'terms' %}" target="_blank">terms and conditions</a>
              </label>
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
      </div>
    </div>
  </div> 
  <script>
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  
    const jnvData = JSON.parse('{{ jnv_data_json|safe }}');
    const regionSelect = document.getElementById("{{ form.region_name.id_for_label }}");
    const jnvSelect = document.getElementById("{{ form.jnv_name.id_for_label }}");
    console.log(jnvData);
    console.log(regionSelect);
    console.log(jnvSelect);
    
    function updateJNVNames() {
      const selectedRegion = regionSelect.value;
      jnvSelect.innerHTML = '';
  
      const jnvNames = jnvData[selectedRegion];
      console.log(selectedRegion);
      console.log(jnvNames);
  
      jnvNames.forEach((jnv) => {
        const option = document.createElement('option');
        option.value = jnv;
        option.text = "Jawahar Navodaya Vidyalaya, " + jnv;
        jnvSelect.appendChild(option);
      });
    }
  
    // Add the event listener outside the updateJNVNames function
    regionSelect.addEventListener('change', updateJNVNames);
  </script>
  
{% endblock %}
