{% extends 'message.html' %}

{% block message %}
<div class="container mt-4">
    <h1 class="mb-4">Website Rules and Guidelines</h1>

    <div class="card mb-4">
      <div class="card-header">
        <h2>User Conduct and Content Guidelines</h2>
      </div>
      <div class="card-body">
        <ul>
          <li>Respectful and Supportive Community: Users must maintain a respectful and supportive environment, fostering positive interactions among Navodayans.</li>
          <li>Relevant Content: Users are encouraged to share content relevant to the Navodaya community's interests and objectives.</li>
        </ul>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <h2>Privacy and Data Protection</h2>
      </div>
      <div class="card-body">
        <ul>
          <li>Public Data: Users should be aware that their public data, such as names and non-sensitive information, will be visible to everyone on the site, promoting transparency and community engagement.</li>
          <li>Private Data: Users' private data, such as current occupation and location, will be used solely to send them specific requests or relevant information. This data will be kept confidential and not shared with other users.</li>
        </ul>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <h2>Registration and User Accounts</h2>
      </div>
      <div class="card-body">
        <ul>
          <li>Accurate Information: Users must provide accurate and up-to-date information during the registration process.</li>
          <li>Account Security: Users are responsible for maintaining the security of their accounts and passwords.</li>
        </ul>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <h2>Interactions and Networking</h2>
      </div>
      <div class="card-body">
        <ul>
          <li>Collaborative Networking: Users are encouraged to engage in collaborative networking, sharing ideas, knowledge, and opportunities that benefit the Navodaya community as a whole.</li>
          <li>Integrity: Users must conduct themselves with integrity, promoting honesty and trust within the community.</li>
        </ul>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <h2>Liability and Disclaimers</h2>
      </div>
      <div class="card-body">
        <ul>
          <li>Informal Nature: The website is an informal platform and not affiliated with any official Navodaya organization. Users should participate with an understanding of its voluntary and community-driven nature.</li>
          <li>Limited Liability: The website and its administrators shall not be held liable for user-generated content or interactions.</li>
        </ul>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <h2>Termination of Accounts</h2>
      </div>
      <div class="card-body">
        <ul>
          <li>Grounds for Termination: Accounts may be terminated for serious violations of the website's rules or misuse of the platform that harms the community's spirit.</li>
        </ul>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <h2>Updates to the Rules</h2>
      </div>
      <div class="card-body">
        <ul>
          <li>Right to Modify: Reserve the right to modify the rules and guidelines as necessary, ensuring transparency about any changes.</li>
        </ul>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <h2>Reporting and Moderation (Future Update)</h2>
      </div>
      <div class="card-body">
        <ul>
          <li>Reporting Mechanism: A reporting feature will be implemented in the future to allow users to report content or behavior that violates the community guidelines.</li>
          <li>Moderation: Future updates will include a moderation system to review and address reported content, ensuring the platform's positive environment.</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock message %}